{% set domain = env['project'].split(':') %}
{% if domain|length >1 %}
  {% set projectName = domain[1] + '.' + domain[0] %}
{% else %}
  {% set projectName = domain[0] %}
{% endif %}

{%  set SERVICE_ACCOUNT= env["deployment"][0:20] + '-' + env["name"] %}

resources:
- name: {{ SERVICE_ACCOUNT }}
  type: gcp-types/iam-v1:projects.serviceAccounts
  properties:
    accountId: {{ SERVICE_ACCOUNT }}
    displayName: SFTPGW Service Account

- name: role-service-account-sql-instance
  type: gcp-types/cloudresourcemanager-v1:virtual.projects.iamMemberBinding
  properties:
    resource: {{ env["project"] }}
    role: 'roles/cloudsql.instanceUser'
    member: "serviceAccount:$(ref.{{ SERVICE_ACCOUNT }}.email)"

- name: role-service-account-sql-client
  type: gcp-types/cloudresourcemanager-v1:virtual.projects.iamMemberBinding
  properties:
    resource: {{ env["project"] }}
    role: 'roles/cloudsql.client'
    member: "serviceAccount:$(ref.{{ SERVICE_ACCOUNT }}.email)"


- name: role-service-account-logging
  type: gcp-types/cloudresourcemanager-v1:virtual.projects.iamMemberBinding
  properties:
    resource: {{ env["project"] }}
    role: 'roles/logging.serviceAgent'
    member: "serviceAccount:$(ref.{{ SERVICE_ACCOUNT }}.email)"

- name: role-service-account-storage
  type: gcp-types/cloudresourcemanager-v1:virtual.projects.iamMemberBinding
  properties:
    resource: {{ env["project"] }}
    role: 'roles/storage.admin'
    member: "serviceAccount:$(ref.{{ SERVICE_ACCOUNT }}.email)"

outputs:
- name: email
  value: $(ref.{{ SERVICE_ACCOUNT }}.email)
- name: username
  value: {{ SERVICE_ACCOUNT }}@{{ projectName }}.iam
